@page
@model RazorSample1.Pages.Catalog.indexModel
@{
    ViewData["Title"] = "index";
}
@*https://www.w3schools.com/icons/icons_reference.asp*@
<h3>Most Popular Reports</h3>
<div class="card-deck">
    @foreach (var report in Model.Items)
    {
        var screenShotPath = "~/catalog/" + (report.ScreenShotPath ?? "noimage.png");
        var sensitivity = (report.Sensitive ? "fas fa-lock" : "fas fa-lock-open");
        var confidenceIcon = "fas fa-exclamation-triangle";
        //if (report.Confidence == Models.Enums.DataConfidence.Reviewed)
        //{
        //    confidenceIcon = ""
        //}

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header" style="height:60px;">
                <strong>@report.Title</strong>
            </div>
            <img class="card-img-top imageThumbnail" style="height: 120px" src="@screenShotPath" asp-append-version="true" />

            <div class="card-footer">
                <button type="button" class="btn btn-sm" disabled>
                    <i class="fas fa-eye"></i> @report.UsageCount
                </button>
                <button type="button" class="btn btn-sm" disabled>
                    <i class="@sensitivity"></i>
                </button>
                <button type="button" class="btn btn-sm">
                    <i class="fas fa-info-circle"></i>
                </button>
                <button type="button" class="btn btn-sm">
                    <i class="fas fa-cart-plus"></i>
                </button>
                <button type="button" class="btn btn-sm">
                    <i class="far fa-edit"></i>
                </button>

                @*<a asp-page="/Catalog/Details" asp-route-Id="@report.Id" class="btn btn-primary m-1">View</a>
                    <a asp-page="/Catalog/Edit" asp-route-Id="@report.Id" class="btn btn-primary m-1">Edit</a>
                    <a asp-page="/Catalog/Delete" asp-route-Id="@report.Id" class="btn btn-danger m-1">Delete</a>*@
            </div>

        </div>
    }
</div>
